body {
  background: #f9f9f9;
  overflow-x: hidden;
}
.container {
  width: 80%;
  height: 380px;
  margin: auto;
}
.flip-container {
  perspective: 1000;
  margin: 10px;
  float: left;
}
.flip-container .flippable {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}
.flip-container .flipme {
  transform: rotateX(180deg) translate(0px, 210px);
}
.flip-container {
  min-width: 310px;
  width: 35%;
  height: 380px;
}
.button-container {
  width: 35%;
  float: right;
}
#dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 3px 3px 6px rgba(0,0,0,.25);
  z-index: 1;
  left: 0;
  border-radius: 3px;
}
#dropdown-menu > a:hover{
  background-color: #f9f9f9;
}
#hsk-dropdown:hover #dropdown-menu {
  display: block;
}
#dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.choice {
  width: 100%;
  height: 65px;
  background: #f2feff;
  box-shadow: 1px 1px 3px rgba(0,0,0,.25);
  margin: 20px;
  border-radius: 3px;
  color: #282828;
  font-family: 'Song Myung', serif;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  cursor: pointer;
}
.choice > .content {
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.choice:hover,
.back:hover,
.front:hover {
  box-shadow: 3px 3px 6px rgba(0,0,0,.25);
}
.front,
.back {
  width: 100%;
  height: 210px;
  text-align: center;
  border-radius: 3px;
  backface-visibility: hidden;
  transform-origin: top;
}
.front {
  z-index: 2;
  color: #282828;
  box-shadow: 1px 1px 3px rgba(0,0,0,.25);
  background-image:
    linear-gradient(180deg, white 2.5rem, #F0A4A4 calc(2.5rem), #F0A4A4 calc(2.5rem + 2px), transparent 1px),
    repeating-linear-gradient(0deg, transparent, transparent 1.5rem, #cbe5f2 1px, #cbe5f2 calc(1.5rem + 1px));
}
.front span {
  font-size: 60px;
  vertical-align: middle;
  line-height: 170px;
  font-family: verdana;
}
.back {
  color: #282828;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  unicode-bidi: bidi-override;
  box-shadow: 1px 1px 3px rgba(0,0,0,.25);
}

.back > .translation {
  font-size: 36px;
  font-family: 'Song Myung', serif;
  position: relative;
  top: 15%; 
  transform: translateY(-15%);
  -webkit-transform: translateY(-15%);
}

.back > .pinyin {
  font-size: 24px;
  position: relative;
  top: 15%; 
  transform: translateY(-15%);
  -webkit-transform: translateY(-15%);
  font-family: 'Source Serif Pro', serif;
}

#header {
  width: 100%;
  height: 60px;
}

#score-board {
  font-family: 'Song Myung', serif;
  font-size: 54px;
  clear: left;
  margin: 20px;
}

nav ul {
  float: right;
  position:relative;
}

nav ul li {
  display: inline;
  margin-right: 50px;
  font-family: 'Source Serif Pro', serif;
  position:relative;
}

.button-container > input {
  font-size: 24px;
  position: relative;
  margin: auto;
  top: 6em;
  font-family: 'Source Serif Pro', serif;
  width: 25%;
  margin: 0.5em;
  text-align: center;
}